h1{
    text-align: center;
    font-size: 45px;
}

body {
    background-color: chocolate;
    color: darkgreen;
}

.myLabel{
    color: black;
    font-size: 22px;
}

.out{

    color: rgb(41, 16, 156);
    font-size: 44px;
}