.font{
    font-size: x-large;
}

.task{
    background-color: blanchedalmond;
}

.out-1{
    color: cadetblue;
    background-color: cornsilk;
    font-size: x-large;
}

.out-2{
    color: cadetblue;
    background-color: cornsilk;
    font-size: x-large;
}

.out-3{
    color: cadetblue;
    background-color: cornsilk;
    font-size: x-large;
}