

body {
    font-family: 'Times New Roman', Times, serif
}

h1 {
    color: #666;
}

h1 {
    color: green;
    font-weight: 800;
    font-style: italic;
}

p {
    font-size: 20px;
}

.span-green-bg{
    color: yellow;
    background: green;
}

.span-red-bg{
    color: #fff;
    background: red;
}

span{
    text-transform: uppercase;
}

